:root {
    --bg-color: aliceblue;
    --primary-color: rebeccapurple;
    --accent-color: steelblue;
    --secondary-color: maroon;  
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto; 
    border: 4px double var(--primary-color);
    background-color: white; 
}

main {
    padding: 20px;
}

header h1 {
    font-size: 32px;
    color: var(--accent-color);
    font-style: italic;
}

header h2 {
    font-size: 20px;
}

header img {
    float: left;
    margin-right: 20px; 
    margin-bottom: 10px;
}

h1 {
    font-size: 150%;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

h2 {
    font-size: 125%;
    margin: 1em 0 0.5em;
}

h3 {
    font-size: 115%;
    margin: 1em 0 0.5em;
}

p, blockquote, ul {
    margin-bottom: 1em;
}

section h1 {
    font-size: 24px;
    clear: left; 
}

section a {
    color: var(--secondary-color);
}

section a:hover, section a:focus {
    color: var(--accent-color);
}

cite {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
}

aside h2 {
    color: var(--secondary-color);
}

aside ul {
    line-height: 1.5;
}

aside a {
    color: var(--accent-color);
}

aside a:hover, aside a:focus {
    color: var(--secondary-color);
}

footer {
    font-size: 12px;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    padding: 10px;
}

footer p {
    font-size: 90%;
    font-weight: bold;
    margin: 10px 0;
}

a {
    font-weight: bold;
}
