/* Navbar as container */
.navbar {
	container-type: inline-size;
	container-name: nav-container;
	position: relative;
	background-color: var(--primary-color);
	& ul { list-style-type: none; margin: 0; }
	& a { display: block; padding: .75em; text-decoration: none; color: var(--light); }
	& a.current { color: var(--accent-color); font-weight: bold; }
}

/* Checkbox */
input[type="checkbox"] { display: none; }

/* Mobile button styles */
.menu-btn {
	display: block;
	color: var(--light);
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	text-align: left;
}

/* Hamburger symbol! and close symbol when checked */
.menu-btn::before { content: "\2630"; }
input[type="checkbox"]:checked ~ .menu-btn::before { content: "\2715"; }

/* Hides menu */
.menu {
	display: none;
	flex-direction: column;
}

/* 6. Drop-down display when checked */
input[type="checkbox"]:checked ~ .menu {
	display: flex;
	position: absolute;
	width: 100%;
	z-index: 1000;
	background-color: var(--primary-color);
}

/* Triangle for the small submenu  */
.menu li:has(ul) > a::after {
	content: "\25B6";
	font-size: 0.8em;
	margin-left: 10px;
}

/* Submenu for right small */
.submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	background-color: var(--primary-color);
	z-index: 1001;
}
.menu li:hover > .submenu { display: block; }

/* Container Query for larger container */
@container nav-container (min-width: 560px) {
	.menu-btn { display: none; }
	
	.menu {
		display: flex !important;
		flex-direction: row;
		justify-content: space-evenly;
		position: static;
	}

	/* Down triangle for larger containers */
	.menu li:has(ul) > a::after {
		content: "\25BC";
	}

/* Submenu large display */
	.submenu {
		top: 100%;
		left: 0;
	}
}
