body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: 1em auto;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%; 
}
caption {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: .5em;
}
thead, tfoot {
    background-color: lightgreen;
}
th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    padding: .35em 1em .35em .5em;
    text-align: left;
    vertical-align: middle;
}
tbody td:last-child, tfoot td {
    text-align: right;
}

/* Media Query for narrow screen */
@media (max-width: 640px) {
    table, thead, tbody, tfoot, tr, th, td {
        display: block;
        width: 100%;
    }
    thead {
        display: none; 
    }
    tr {
        margin-bottom: .5em;
        border: 1px solid black;
    }
    th[rowspan], tfoot th {
        background-color: lightgreen;
        text-align: left;
        border: none;
    }
    td[data-label] {
        position: relative;
        padding-left: 50%;
        border: none; 
    }
    td[data-label]::before {
        content: attr(data-label);
        position: absolute;
        left: .5em;
        display: block; 
        font-weight: bold;
        text-align: left;
    }
}
